@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Outfit:wght@400;700&display=swap");

:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%9);
    --DarkBlue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
    font-family: "Outfit", "Epilogue",sans-serif;
    font-size: 15px;
    background-color: var(--LightGray);
}


.container{
    width: 320px;
    height: 500px;
    background-color: var(--White);
    margin:81px auto;
    padding: 15px;
    border-radius: 15px;

    border:solid black 1px;
}

.container__image{
  height: 290px;
  width: 288px;
  background-image: url("./images/image-qr-code.png");
  background-position: center;
  background-size: contain;
  border-radius: 10px;
}

.container__info{
  padding:28px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:1440px){
  .container{
    margin:145px auto;
  }
}

h1{
  font-size: 18px;
}

p{
  font-size: 14px;
  padding-top: 10px;
  color:var(--GrayishBlue)
}